Manchester City and Arsenal have dynamic and highly skilled squads with distinct attributes. Manchester City boasts a deep roster featuring world-class talents like Erling Haaland, who provides formidable attacking prowess, and Kevin De Bruyne, known for his exceptional playmaking abilities. The squad is well-rounded with a strong defensive unit including Ruben Dias and João Cancelo, and dynamic midfielders like Rodri. Arsenal, on the other hand, showcases a blend of youthful energy and experienced leadership. Key players include Bukayo Saka, who adds creativity and flair, and Gabriel Jesus, known for his versatility and finishing skills. Arsenal’s defense is anchored by Gabriel Magalhães, while midfield strength comes from Martin Ødegaard's vision and control. Both teams are known for their tactical flexibility and high-quality football, making them top contenders in the Premier League.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
df=pd.read_excel(r"E:\data analysis using excel\man city squad.xlsx")
df

,Player,Position,Weekly Income,Yearly Income,Country,Last Season's Rating,Appearances
0,Ederson,Goalkeeper,"£100,000","£5,200,000",Brazil,8.1,38
1,Stefan Ortega,Goalkeeper,"£80,000","£4,160,000",Germany,7.5,15
2,Kyle Walker,Right Back,"£150,000","£7,800,000",England,7.9,30
3,John Stones,Center Back,"£160,000","£8,320,000",England,8.0,27
4,Ruben Dias,Center Back,"£180,000","£9,360,000",Portugal,8.2,34
5,Josko Gvardiol,Left Back,"£170,000","£8,840,000",Croatia,8.1,25
6,Nathan Ake,Left Back / Center Back,"£130,000","£6,760,000",Netherlands,7.8,28
7,Rico Lewis,Right Back / Midfielder,"£60,000","£3,120,000",England,7.6,20
8,Rodri,Defensive Midfielder,"£200,000","£10,400,000",Spain,8.3,36
9,Kalvin Phillips,Defensive Midfielder,"£120,000","£6,240,000",England,7.7,18
10,Kevin De Bruyne,Attacking Midfielder,"£300,000","£15,600,000",Belgium,8.7,32
11,Bernardo Silva,Winger / Midfielder,"£220,000","£11,440,000",Portugal,8.2,29
12,Jack Grealish,Winger / Midfielder,"£250,000","£13,000,000",England,8.0,31
13,Ilkay Gündogan,Midfielder,"£150,000","£7,800,000",Germany,8.1,30
14,Julian Alvarez,Forward,"£200,000","£10,400,000",Argentina,8.1,26
15,Erling Haaland,Forward,"£350,000","£18,200,000",Norway,9.0,37
16,Cole Palmer,Winger / Forward,"£70,000","£3,640,000",England,7.7,21
17,Phil Foden,Winger / Midfielder,"£190,000","£9,880,000",England,8.4,33
18,Riyad Mahrez,Winger,"£250,000","£13,000,000",Algeria,8.0,30

In [7]:
df=df[~[df['Player'].isin(['Cole Palmer','Julian Alvarez','Riyad Mahrez'])]]

KeyError: 'Player'

In [14]:
df['Player'].value_counts().sum()

KeyError: 'Player'

In [9]:
df.columns

Index([' Player             ', ' Position              ', ' Weekly Income ',
       ' Yearly Income ', ' Country      ', ' Last Season's Rating ',
       ' Appearances '],
      dtype='object')

In [26]:
df = df[~df['Player'].isin(['Julian Alvarez', 'Cole Palmer', 'Riyad Mahrez'])]
df

,Player,Position,Weekly Income,Yearly Income,Country,Last Season's Rating,Appearances
0,ederson,Goalkeeper,"£100,000","£5,200,000",Brazil,8.1,38
1,stefan ortega,Goalkeeper,"£80,000","£4,160,000",Germany,7.5,15
2,kyle walker,Right Back,"£150,000","£7,800,000",England,7.9,30
3,john stones,Center Back,"£160,000","£8,320,000",England,8.0,27
4,ruben dias,Center Back,"£180,000","£9,360,000",Portugal,8.2,34
5,josko gvardiol,Left Back,"£170,000","£8,840,000",Croatia,8.1,25
6,nathan ake,Left Back / Center Back,"£130,000","£6,760,000",Netherlands,7.8,28
7,rico lewis,Right Back / Midfielder,"£60,000","£3,120,000",England,7.6,20
8,rodri,Defensive Midfielder,"£200,000","£10,400,000",Spain,8.3,36
9,kalvin phillips,Defensive Midfielder,"£120,000","£6,240,000",England,7.7,18
10,kevin de bruyne,Attacking Midfielder,"£300,000","£15,600,000",Belgium,8.7,32
11,bernardo silva,Winger / Midfielder,"£220,000","£11,440,000",Portugal,8.2,29
12,jack grealish,Winger / Midfielder,"£250,000","£13,000,000",England,8.0,31
13,ilkay gündogan,Midfielder,"£150,000","£7,800,000",Germany,8.1,30
14,julian alvarez,Forward,"£200,000","£10,400,000",Argentina,8.1,26
15,erling haaland,Forward,"£350,000","£18,200,000",Norway,9.0,37
16,cole palmer,Winger / Forward,"£70,000","£3,640,000",England,7.7,21
17,phil foden,Winger / Midfielder,"£190,000","£9,880,000",England,8.4,33
18,riyad mahrez,Winger,"£250,000","£13,000,000",Algeria,8.0,30

In [24]:
players_to_exclude=['Julian Alvarez', 'Cole Palmer', 'Riyad Mahrez']
df = df[~df['Player'].isin(players_to_exclude)]
df

,Player,Position,Weekly Income,Yearly Income,Country,Last Season's Rating,Appearances
0,ederson,Goalkeeper,"£100,000","£5,200,000",Brazil,8.1,38
1,stefan ortega,Goalkeeper,"£80,000","£4,160,000",Germany,7.5,15
2,kyle walker,Right Back,"£150,000","£7,800,000",England,7.9,30
3,john stones,Center Back,"£160,000","£8,320,000",England,8.0,27
4,ruben dias,Center Back,"£180,000","£9,360,000",Portugal,8.2,34
5,josko gvardiol,Left Back,"£170,000","£8,840,000",Croatia,8.1,25
6,nathan ake,Left Back / Center Back,"£130,000","£6,760,000",Netherlands,7.8,28
7,rico lewis,Right Back / Midfielder,"£60,000","£3,120,000",England,7.6,20
8,rodri,Defensive Midfielder,"£200,000","£10,400,000",Spain,8.3,36
9,kalvin phillips,Defensive Midfielder,"£120,000","£6,240,000",England,7.7,18
10,kevin de bruyne,Attacking Midfielder,"£300,000","£15,600,000",Belgium,8.7,32
11,bernardo silva,Winger / Midfielder,"£220,000","£11,440,000",Portugal,8.2,29
12,jack grealish,Winger / Midfielder,"£250,000","£13,000,000",England,8.0,31
13,ilkay gündogan,Midfielder,"£150,000","£7,800,000",Germany,8.1,30
14,julian alvarez,Forward,"£200,000","£10,400,000",Argentina,8.1,26
15,erling haaland,Forward,"£350,000","£18,200,000",Norway,9.0,37
16,cole palmer,Winger / Forward,"£70,000","£3,640,000",England,7.7,21
17,phil foden,Winger / Midfielder,"£190,000","£9,880,000",England,8.4,33
18,riyad mahrez,Winger,"£250,000","£13,000,000",Algeria,8.0,30

In [15]:
df. = df.columns.str.strip()

In [22]:
df['Player'].unique()

array(['ederson', 'stefan ortega', 'kyle walker', 'john stones',
       'ruben dias', 'josko gvardiol', 'nathan ake', 'rico lewis',
       'rodri', 'kalvin phillips', 'kevin de bruyne', 'bernardo silva',
       'jack grealish', 'ilkay gündogan', 'julian alvarez',
       'erling haaland', 'cole palmer', 'phil foden', 'riyad mahrez'],
      dtype=object)

In [21]:
df['Player'] = df['Player'].str.strip().str.lower()

In [27]:
df[['Player']]

             Player
0           ederson
1     stefan ortega
2       kyle walker
3       john stones
4        ruben dias
5    josko gvardiol
6        nathan ake
7        rico lewis
8             rodri
9   kalvin phillips
10  kevin de bruyne
11   bernardo silva
12    jack grealish
13   ilkay gündogan
14   julian alvarez
15   erling haaland
16      cole palmer
17       phil foden
18     riyad mahrez

In [28]:
for player in players_to_exclude:
    if player in df['Player'].values:
        print(f"{player} is in the DataFrame")
    else:
        print(f"{player} is NOT in the DataFrame")

Julian Alvarez is NOT in the DataFrame
Cole Palmer is NOT in the DataFrame
Riyad Mahrez is NOT in the DataFrame

In [29]:
df

,Player,Position,Weekly Income,Yearly Income,Country,Last Season's Rating,Appearances
0,ederson,Goalkeeper,"£100,000","£5,200,000",Brazil,8.1,38
1,stefan ortega,Goalkeeper,"£80,000","£4,160,000",Germany,7.5,15
2,kyle walker,Right Back,"£150,000","£7,800,000",England,7.9,30
3,john stones,Center Back,"£160,000","£8,320,000",England,8.0,27
4,ruben dias,Center Back,"£180,000","£9,360,000",Portugal,8.2,34
5,josko gvardiol,Left Back,"£170,000","£8,840,000",Croatia,8.1,25
6,nathan ake,Left Back / Center Back,"£130,000","£6,760,000",Netherlands,7.8,28
7,rico lewis,Right Back / Midfielder,"£60,000","£3,120,000",England,7.6,20
8,rodri,Defensive Midfielder,"£200,000","£10,400,000",Spain,8.3,36
9,kalvin phillips,Defensive Midfielder,"£120,000","£6,240,000",England,7.7,18
10,kevin de bruyne,Attacking Midfielder,"£300,000","£15,600,000",Belgium,8.7,32
11,bernardo silva,Winger / Midfielder,"£220,000","£11,440,000",Portugal,8.2,29
12,jack grealish,Winger / Midfielder,"£250,000","£13,000,000",England,8.0,31
13,ilkay gündogan,Midfielder,"£150,000","£7,800,000",Germany,8.1,30
14,julian alvarez,Forward,"£200,000","£10,400,000",Argentina,8.1,26
15,erling haaland,Forward,"£350,000","£18,200,000",Norway,9.0,37
16,cole palmer,Winger / Forward,"£70,000","£3,640,000",England,7.7,21
17,phil foden,Winger / Midfielder,"£190,000","£9,880,000",England,8.4,33
18,riyad mahrez,Winger,"£250,000","£13,000,000",Algeria,8.0,30